<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/images/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/images/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <style>
      /* Additional styles for header can be added here */
      body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .header-container {
        text-align: center;
        padding: 2px;
      }

      h4 {
        font-size: 2rem;
        margin-bottom: 10px;
        color: #00c2e4;
      }

      img {
        max-width: 50%;
        height: auto;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <div class="header-container">
      <img src="/images/site_logo.png" alt="logo" />
      <h4>LINC Projects</h4>
    </div>
  </body>
</html>
